@import "tailwindcss";

@layer utilities {
  .text-foreground {
    color: var(--foreground);
  }
  .text-foreground70 {
    color: var(--foreground-70);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --foreground-70: rgba(23, 23, 23, 0.7); /* 70% opacity */
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --foreground-70: rgba(237, 237, 237, 0.7); /* 70% opacity */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}
